@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #07192F;
  color: white;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }
}

.float-logo {
  animation: float 6s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}